.input_form {
  width: 35%;
  margin: 2rem auto;
}

.input_text {
  padding: 0.75rem;
  margin-right: 1rem;
  border-radius: 0.25rem;
  border: 1px solid gray;
  width: 65%;
  font-size: 12pt;
}

.btn {
  padding: 0.7rem 1.25rem;
  border: none;
  border-radius: 0.25rem;
  cursor: pointer;
  background-color: #1f2937;
  color: white;
  font-size: 12pt;
  width: 30%;
}
